
.header {
  width: 100%;
  padding: 2%;
  background-color: burlywood;
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.calendar {
  width: 85vw;
  padding: 1%;
  margin: auto;
}

.tables {
  width: 85vw;
  padding: 1%;
  margin: auto;
}

.app {
  padding: 1%;
}

.removebtn {
  color:black;
  position: absolute;
  top: 0;
  right: 0;
  width:13px;
  height: 13px;
  text-align:center;
  border-radius:50%;
  font-size: 10px;
  cursor: pointer;
      background-color: #FFF
}